# Section 1
### Import packages for data cleaning and load csv file

In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('/Users/jotech/Milestone Repo/milestone-project-market-prediction-model/data/FET-USD.csv')
df.head()

         Date      Open      High       Low     Close  Adj Close    Volume
0  2022-06-21  0.080587  0.087277  0.080314  0.082308   0.082308  21239427
1  2022-06-22  0.082312  0.087550  0.079552  0.081920   0.081920  19968197
2  2022-06-23  0.081921  0.083695  0.080273  0.082108   0.082108  20197033
3  2022-06-24  0.082132  0.090905  0.082074  0.090101   0.090101  23700083
4  2022-06-25  0.090099  0.094581  0.087054  0.089162   0.089162  25039688

# Section 2
### Check for missing values or other inconsistencies in the dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       366 non-null    object
 1   Open       366 non-null    float64
 2   High       366 non-null    float64
 3   Low        366 non-null    float64
 4   Close      366 non-null    float64
 5   Adj Close  366 non-null    float64
 6   Volume     366 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 20.1+ KB