# Section 1
### Import packages for data cleaning and load csv file

In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('/Users/jotech/Milestone Repo/milestone-project-market-prediction-model/data/FET-USD.csv')
df.head()

         Date      Open      High       Low     Close  Adj Close    Volume
0  2022-06-21  0.080587  0.087277  0.080314  0.082308   0.082308  21239427
1  2022-06-22  0.082312  0.087550  0.079552  0.081920   0.081920  19968197
2  2022-06-23  0.081921  0.083695  0.080273  0.082108   0.082108  20197033
3  2022-06-24  0.082132  0.090905  0.082074  0.090101   0.090101  23700083
4  2022-06-25  0.090099  0.094581  0.087054  0.089162   0.089162  25039688

# Section 2
### Check for missing values or other inconsistencies in the dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       366 non-null    object
 1   Open       366 non-null    float64
 2   High       366 non-null    float64
 3   Low        366 non-null    float64
 4   Close      366 non-null    float64
 5   Adj Close  366 non-null    float64
 6   Volume     366 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 20.1+ KB

#### Drop any eventual duplicates

In [9]:
df.drop_duplicates(subset=None, inplace=True)

#### Check for eventual missing values

In [8]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

#### Drop eventual missing values

In [ ]:
df = df.dropna(inplace=True)

# Section 3
### Convert to datetime format and sort dataframe by date

In [10]:
df['Date'] = pd.to_datetime(df['Date'])

In [13]:
df.sort_values(by='Date', inplace=True, ascending=False)

In [14]:
df.head()

          Date      Open      High       Low     Close  Adj Close    Volume
365 2023-06-21  0.199379  0.227389  0.199379  0.223477   0.223477  66362316
364 2023-06-20  0.189383  0.199555  0.182674  0.199320   0.199320  32274029
363 2023-06-19  0.183223  0.192260  0.181794  0.189395   0.189395  28179454
362 2023-06-18  0.197603  0.197603  0.182670  0.183230   0.183230  28836777
361 2023-06-17  0.190300  0.199963  0.189429  0.197628   0.197628  24247119

# Export csv file after cleaning
#### Save cleaned dataset csv file as "FET-USD-CLEANED.csv" to "data" folder

In [15]:
df.to_csv('/Users/jotech/Milestone Repo/milestone-project-market-prediction-model/data/FET-USD-CLEANED.csv', index=False)