# Section 1
#### Import necessary packages for feature engineering

In [170]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from feature_engine.encoding import OneHotEncoder
from feature_engine.imputation import MeanMedianImputer
from feature_engine.selection import DropConstantFeatures
from scipy.stats import zscore

#### Load cleaned dataset

In [171]:
clean_stock_df = pd.read_csv('/Users/jotech/Milestone Repo/milestone-project-market-prediction-model/data/^GSPC.csv')
clean_stock_df.head()

         Date         Open         High  ...        Close    Adj Close      Volume
0  2023-06-22  4355.399902  4382.250000  ...  4381.890137  4381.890137  3511000000
1  2023-06-21  4380.009766  4386.220215  ...  4365.689941  4365.689941  3709330000
2  2023-06-20  4396.109863  4400.149902  ...  4388.709961  4388.709961  4055790000
3  2023-06-16  4440.950195  4448.470215  ...  4409.589844  4409.589844  6848600000
4  2023-06-15  4365.330078  4439.200195  ...  4425.839844  4425.839844  4176690000

[5 rows x 7 columns]

#### Extract Date and Time features

In [172]:
clean_stock_df['Date'] = pd.to_datetime(clean_stock_df['Date'])
clean_stock_df['DayOfWeek'] = clean_stock_df['Date'].dt.dayofweek
clean_stock_df['Month'] = clean_stock_df['Date'].dt.month
clean_stock_df['Year'] = clean_stock_df['Date'].dt.year

#### Extract lagging feature columns for additional pattern recognition

In [173]:
clean_stock_df['PreviousClose'] = clean_stock_df['Close'].shift(1)
clean_stock_df.head()

        Date         Open         High  ...  Month  Year  PreviousClose
0 2023-06-22  4355.399902  4382.250000  ...      6  2023            NaN
1 2023-06-21  4380.009766  4386.220215  ...      6  2023    4381.890137
2 2023-06-20  4396.109863  4400.149902  ...      6  2023    4365.689941
3 2023-06-16  4440.950195  4448.470215  ...      6  2023    4388.709961
4 2023-06-15  4365.330078  4439.200195  ...      6  2023    4409.589844

[5 rows x 11 columns]

#### Create rolling mean and standard deviation for additional pattern recognition

In [174]:
clean_stock_df['RollingMean_7'] = clean_stock_df['Close'].rolling(window=7).mean()

clean_stock_df.head(20)

         Date         Open         High  ...  Year  PreviousClose  RollingMean_7
0  2023-06-22  4355.399902  4382.250000  ...  2023            NaN            NaN
1  2023-06-21  4380.009766  4386.220215  ...  2023    4381.890137            NaN
2  2023-06-20  4396.109863  4400.149902  ...  2023    4365.689941            NaN
3  2023-06-16  4440.950195  4448.470215  ...  2023    4388.709961            NaN
4  2023-06-15  4365.330078  4439.200195  ...  2023    4409.589844            NaN
5  2023-06-14  4366.290039  4391.819824  ...  2023    4425.839844            NaN
6  2023-06-13  4352.609863  4375.370117  ...  2023    4372.589844    4387.617048
7  2023-06-12  4308.319824  4340.129883  ...  2023    4369.009766    4381.479911
8  2023-06-09  4304.879883  4322.620117  ...  2023    4338.930176    4371.932757
9  2023-06-08  4268.689941  4298.009766  ...  2023    4298.859863    4358.392787
10 2023-06-07  4285.470215  4299.189941  ...  2023    4293.930176    4338.097098
11 2023-06-06  4271.339844  4288.330078  ...  2023    4267.520020    4317.812849
12 2023-06-05  4282.990234  4299.279785  ...  2023    4283.850098    4303.698591
13 2023-06-02  4241.009766  4290.669922  ...  2023    4273.790039    4291.321498
14 2023-06-01  4183.029785  4232.430176  ...  2023    4282.370117    4274.477190
15 2023-05-31  4190.740234  4195.439941  ...  2023    4221.020020    4257.472935
16 2023-05-30  4226.709961  4231.100098  ...  2023    4179.830078    4244.842913
17 2023-05-26  4156.160156  4212.870117  ...  2023    4205.520020    4235.975795
18 2023-05-25  4155.709961  4165.740234  ...  2023    4205.450195    4217.037179
19 2023-05-24  4132.959961  4132.959961  ...  2023    4151.279785    4194.387207

[20 rows x 12 columns]

#### Analyze feature correlations to target

In [175]:
corr_matrix = clean_stock_df.corr()['Close'].sort_values(ascending=False)
corr_matrix

Close            1.000000
Adj Close        1.000000
Low              0.989684
High             0.988422
Open             0.972304
PreviousClose    0.960820
RollingMean_7    0.930990
Date             0.507618
Year             0.504129
DayOfWeek        0.005318
Volume          -0.211129
Month           -0.359199
Name: Close, dtype: float64

In [176]:
clean_stock_df.drop(['Adj Close', 'Open', 'High', 'Low', 'Month'], axis=1, inplace=True)

In [177]:
clean_stock_df.head()

        Date        Close      Volume  ...  Year  PreviousClose  RollingMean_7
0 2023-06-22  4381.890137  3511000000  ...  2023            NaN            NaN
1 2023-06-21  4365.689941  3709330000  ...  2023    4381.890137            NaN
2 2023-06-20  4388.709961  4055790000  ...  2023    4365.689941            NaN
3 2023-06-16  4409.589844  6848600000  ...  2023    4388.709961            NaN
4 2023-06-15  4425.839844  4176690000  ...  2023    4409.589844            NaN

[5 rows x 7 columns]

#### Imputation for missing values

In [ ]:
continuous_imputer = MeanMedianImputer(imputation_method='median')
clean_stock_df_imputed = continuous_imputer.fit_transform(clean_stock_df)

In [ ]:
clean_stock_df_imputed.head()

In [180]:
clean_stock_df.fillna(method='bfill', inplace=True)
clean_stock_df.head(20)

         Date        Close      Volume  ...  Year  PreviousClose  RollingMean_7
0  2023-06-22  4381.890137  3511000000  ...  2023    4381.890137    4387.617048
1  2023-06-21  4365.689941  3709330000  ...  2023    4381.890137    4387.617048
2  2023-06-20  4388.709961  4055790000  ...  2023    4365.689941    4387.617048
3  2023-06-16  4409.589844  6848600000  ...  2023    4388.709961    4387.617048
4  2023-06-15  4425.839844  4176690000  ...  2023    4409.589844    4387.617048
5  2023-06-14  4372.589844  4252110000  ...  2023    4425.839844    4387.617048
6  2023-06-13  4369.009766  4275400000  ...  2023    4372.589844    4387.617048
7  2023-06-12  4338.930176  3945670000  ...  2023    4369.009766    4381.479911
8  2023-06-09  4298.859863  3786510000  ...  2023    4338.930176    4371.932757
9  2023-06-08  4293.930176  3826740000  ...  2023    4298.859863    4358.392787
10 2023-06-07  4267.520020  4537800000  ...  2023    4293.930176    4338.097098
11 2023-06-06  4283.850098  3996560000  ...  2023    4267.520020    4317.812849
12 2023-06-05  4273.790039  3813290000  ...  2023    4283.850098    4303.698591
13 2023-06-02  4282.370117  4454200000  ...  2023    4273.790039    4291.321498
14 2023-06-01  4221.020020  4391860000  ...  2023    4282.370117    4274.477190
15 2023-05-31  4179.830078  5980670000  ...  2023    4221.020020    4257.472935
16 2023-05-30  4205.520020  4228510000  ...  2023    4179.830078    4244.842913
17 2023-05-26  4205.450195  3715460000  ...  2023    4205.520020    4235.975795
18 2023-05-25  4151.279785  4147760000  ...  2023    4205.450195    4217.037179
19 2023-05-24  4115.240234  3739160000  ...  2023    4151.279785    4194.387207

[20 rows x 7 columns]

# Feature selection and Transformation

In [181]:
constant_features = DropConstantFeatures(tol=0.998)
clean_stock_df = constant_features.fit_transform(clean_stock_df)

In [182]:
clean_stock_df.head()

        Date        Close      Volume  ...  Year  PreviousClose  RollingMean_7
0 2023-06-22  4381.890137  3511000000  ...  2023    4381.890137    4387.617048
1 2023-06-21  4365.689941  3709330000  ...  2023    4381.890137    4387.617048
2 2023-06-20  4388.709961  4055790000  ...  2023    4365.689941    4387.617048
3 2023-06-16  4409.589844  6848600000  ...  2023    4388.709961    4387.617048
4 2023-06-15  4425.839844  4176690000  ...  2023    4409.589844    4387.617048

[5 rows x 7 columns]