# Section 1
#### Import necessary packages for feature engineering

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from feature_engine.encoding import OneHotEncoder
from feature_engine.imputation import MeanMedianImputer
from feature_engine.selection import DropConstantFeatures
from scipy.stats import zscore

#### Load cleaned dataset

In [6]:
clean_stock_df = pd.read_csv('/Users/jotech/Milestone Repo/milestone-project-market-prediction-model/data/^GSPC.csv')
clean_stock_df.head()

         Date         Open         High  ...        Close    Adj Close      Volume
0  2023-06-22  4355.399902  4382.250000  ...  4381.890137  4381.890137  3511000000
1  2023-06-21  4380.009766  4386.220215  ...  4365.689941  4365.689941  3709330000
2  2023-06-20  4396.109863  4400.149902  ...  4388.709961  4388.709961  4055790000
3  2023-06-16  4440.950195  4448.470215  ...  4409.589844  4409.589844  6848600000
4  2023-06-15  4365.330078  4439.200195  ...  4425.839844  4425.839844  4176690000

[5 rows x 7 columns]

#### Select only numerical columns for correlational analysis

In [9]:
num_cols = clean_stock_df.select_dtypes(include=np.number).columns
num_df = clean_stock_df[num_cols]
num_df.head()

          Open         High          Low        Close    Adj Close      Volume
0  4355.399902  4382.250000  4351.819824  4381.890137  4381.890137  3511000000
1  4380.009766  4386.220215  4360.140137  4365.689941  4365.689941  3709330000
2  4396.109863  4400.149902  4367.189941  4388.709961  4388.709961  4055790000
3  4440.950195  4448.470215  4407.439941  4409.589844  4409.589844  6848600000
4  4365.330078  4439.200195  4362.600098  4425.839844  4425.839844  4176690000

#### Analyze feature correlations

In [8]:
corr_matrix = num_df.corr()